.sliderbar {
    background-color: #397afa;
}

.sliderbar:hover {
    background-color: #91b6ff;
}

.initial {
    border: none;
    background-color: #91b6ff;
}
.wronglyOrdered {
    border: none;
    background-color: #f75959;
}
.inComparison {
    border: none;
    background-color: #fff563;
}

.sorted {
    border: none;
    background-color: #d7fc03;
}

.title {
    color: #006aff;
    text-align: center;
}

.caption {
    color: #b0b0b0;
    font-style: italic;
    padding-top: 2em;
    padding-bottom: 2em;
}

.content {
    color: #818182;
    font-size: large;
    padding-top: 2em;
    padding-bottom: 2em;
}

.subtopic {
    color: #006aff;
    display: flex;
    flex-direction: row;
}